* {
  box-sizing: border-box;
}

.monospace {
  font-family: monospace;
}

.main-container {
  @apply bg-[hsl(var(--border))] pt-8 pb-10 lg:px-6 px-4 rounded-sm flex flex-col gap-5;
}

.custom-table th,
td {
  @apply border  border-gray-400 !py-4 !px-3;
}

.custom-table .action-btns {
  @apply w-[10rem];
}

.purple-button {
  @apply bg-[var(--lightpurple)] hover:bg-[var(--softpurple)] text-[#fff];
}

.green-button {
  @apply bg-[var(--green)] hover:bg-[var(--lightgreen)] text-[#fff] transition-all;
}

.red-button {
  @apply bg-[#990000] hover:bg-[#CC0000] text-[#fff] transition-all;
}

.purple-button {
  @apply bg-[var(--lightpurple)] hover:bg-[var(--softpurple)] text-[#fff];
}

.input-container {
  @apply flex w-full lg:flex-row flex-col lg:gap-0 gap-2;
}

.input-container .label {
  @apply lg:w-[17.3rem] w-auto  font-medium;
}

.input-container .user-input {
  @apply grow max-w-[47rem];
}

.user-input .ql-toolbar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  border-bottom: 1px solid #ccc;
}

.user-input .ql-container {
  height: calc(100% - 42px); /* Adjust height to leave space for toolbar */
  overflow-y: auto; /* Enables scrolling for the content */
  padding-top: 15px; /* Push content below toolbar */
}
